#content
{
	background: #53233B;
}

#bio-header
{
	font-family:"Small Bit";
	text-align: center;
	margin:10px;
	margin-bottom:30px;
}

#character
{
	float:left;
	width:210px;
	margin:10px;
}

#bit-self
{
	border: 5px solid;
	padding: 10px;
	background: #C96;
	float: left;
	margin-right:15px;
	margin-bottom:15px;
}

#hearts
{
	text-align:center;
	background: #F7E3BA;
	border: solid;
}

#bio
{
	float: left;
	padding: 10px;
	max-width: 550px;
}

.bio-info
{
	margin: 0px;
	margin-left: 15px;
	font-size: 1.0em;
}