#content
{
	background: #FF3399;
}

#bio-header
{
	font-family:"8 Bit";
	text-align: center;
	margin:0px;
	margin-bottom:15px;
}

#character
{
	float:left;
	width:210px;
}

#bit-self
{
	border: 5px solid;
	padding: 10px;
	background: #C96;
	float: left;
	margin-right:15px;
	margin-bottom:15px;
}

#hearts
{
	text-align:center;
	background: #F7E3BA;
	border: solid;
}

#bio
{
	float: left;
	padding: 10px;
}

.bio-info
{
	margin: 0px;
}