/* Fonts */

@font-face {
	font-family: "8 Bit";
	src: url("bitfont.ttf");
}

@font-face {
	font-family: "Small Bit";
	src: url("smallbitfont.TTF");
}

@font-face {
	font-family: "Vera";
	src: url("Vera.ttf");
}

@font-face {
	font-family: "VeraMono";
	src: url("VeraMono.ttf");
}

body 
{
	margin: 0;
	padding: 0;
	font-family: "VeraMono";
	font-size: 100%;
	background: #212F4E;
}


/* Header
-------------------------------------------------- */

#elissa-wolf
{
	font-family: "Small Bit";
	font-size: 1.5em;
	padding: 10px;
	color: #FFCC99;
}

.header
{
	width: 600px;
	height: 30px;
	margin: 0 auto;
	font-size: 1.5em;
	font-family: "Small Bit";
	vertical-align: text-bottom;
	color: #E4E4E2;
	text-align: center;
}

.header ul
{
	list-style: none;
}

.header ul li
{
	float: left;
	width: 30%;
	text-align: center;
}

.header ul li a
{
	text-decoration: none;
	color: #E4E4E2;
}

.header ul li a: hover
{
	text-decoration: underline;
	color: #ffcc66;
}



/* Containers
-------------------------------------------------- */

.container
{
	width: 800px;
	height: 475px;
	margin: 30px auto;
	padding: 10px 20px;
	border: 10px double #FFCC99;
	color: #FFCC99;
	font-size: 1.25em;
}

.container h2
{
	padding: 5px 10px;
	width: 200px;
}

/* Self-Clearing Rules 
-------------------------------------------------- */

ul#navigation:after 
{
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

* html ul#navigation 	{ height: 1px; }
ul#navigation 	        { min-height: 1px; }
