/* Fonts */

@font-face {
	font-family: "8 Bit";
	src: url("bitfont.ttf");
}

@font-face {
	font-family: "Small Bit";
	src: url("smallbitfont.TTF");
}

body 
{
	margin: 0;
	padding: 0;
	font-family: "Small Bit";
	font-size: 100%;
	background: #000033;
}


/* Header
-------------------------------------------------- */

#elissa-wolf
{
	font-family: "Small Bit";
	font-size: 1.5em;
	padding: 10px;
	color: #FFCC99;
}

.header
{
	width: 600px;
	height: 30px;
	margin: 0 auto;
        padding: 10px;
	font-size: 1.0em;
	font-family: "Small Bit";
	vertical-align: text-bottom;
}

.header ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.header ul li 
{
	float: left;
	text-align: left;
}

.header ul li a
{
	display: block;
	color: #ffff66;
	text-decoration: none;
	margin-right: 20px;
}

.header ul li a:hover
{
	text-decoration: underline;
	color: #ffcc66;
}


/* Containers
-------------------------------------------------- */

.container
{
	width: 750px;
	height: 475px;
	margin: 30px auto;
	padding: 10px 20px;
	border: 10px double #FFCC99;
	color: #FFCC99;
	font-size: 1.25em;
	line-height: 2em;
}

.container h2
{
	padding: 5px 10px;
	width: 200px;
}

/* Self-Clearing Rules 
-------------------------------------------------- */

ul#navigation:after 
{
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

* html ul#navigation 	{ height: 1px; }
ul#navigation 	        { min-height: 1px; }
