#content
{
	background: #99CCFF;
}

#inventory-header
{
	font-family:"8 Bit";
	text-align: center;
}

.thumbnail
{
	margin: 15px;
	border: 5px ridge #CC9966;
	float: left;
	height: 82px;
}

.thumbnail img
{
	margin: 5px;
}

.thumbnail a:hover img
{
	border:1px solid #ffffff;
}
