#content
{
	background: #545791;
}

#inventory-header
{
	font-family:"Small Bit";
	text-align: center;
}

#portfolio-header
{
	font-size: 1.75em;
	margin-bottom: 20px;
	margin-top: 20px;
}

.thumbnail
{
	margin: 15px;
	border: 5px ridge #CC9966;
	float: left;
	height: 82px;
}

.thumbnail img
{
	margin: 5px;
}

.thumbnail a:hover img
{
	border:1px solid #ffffff;
}

#mediums li
{
	margin: 0px;
	font-size: .65em;
	white-space: nowrap;
}

#storymode
{
	text-align: center;
	font-family: "Small Bit";
}

#thumbbox
{
	height: 350px;
	width: 800px;
}

