#content
{
	background: #1B3A2B;
}

#skills-header
{
	font-family:"8 Bit";
	text-align: center;
	margin:0px;
	margin-bottom:10px;
}

.column
{
	float:left;
	width:375px;
}

.column h2
{
	font-size:1em;
}

.column p
{
	font-size:.75em;
}
