#content
{
	background: #070C09;
}

#skills-header
{
	font-family:"Small Bit";
	text-align: center;
	margin:0px;
	margin-bottom:10px;
}

.skills-table
{
	float:left;
	width:350px;
	margin: 5px;
}

.skills-table tr
{
	margin 5px;
}

.table-header
{
	font-size: 1.25em;
}

.bar
{
	vertical-align: middle;
}

.bar img
{
	vertical-align:middle;
}

.data-label
{
	font-size: 1em;
	color: #65D0EB;
}

#resume-link
{
	text-align:center;
	clear:both;
	color: #ffff66;
	text-decoration: none;
}

#resume-link a:hover
{
	text-decoration: underline;
	color: #ffcc66;
}
