#content
{
	background: #1B3A2B;
}

#skills-header
{
	font-family:"8 Bit";
	text-align: center;
	margin:0px;
	margin-bottom:10px;
}

.skills-table
{
	float:left;
	width:350px;
	margin: 5px;
}

.skills-table tr
{
	margin 5px;
	line-height:3em;
}

.table-header
{
	font-size: 1.25em;
}

.bar
{
	vertical-align: middle;
}

.bar img
{
	vertical-align:middle;
}

.data-label
{
	font-size: 1em;
}
