#content
{
	font-family: "Small Bit";
	vertical-align: middle;
	text-align: center;
	text-decoration: blink;
}

#content h1
{
	color: #00CCCC
	border: 5pc double #FFCCCC
}

#content h2
{
	color: #FFCCCC
}
