#content
{
	font-family: "Small Bit";
	position: relative;
	text-align: center;
	text-decoration: blink;
}

#elissa-wolf-title
{
	color: #00CCCC;
	border: 5px double #FFCCCC;
	position: absolute;
	top: 30%;
	width: 500px;
	font-family: "8 Bit";
	font-size: 2em;
	text-align: center;
}

#press-space
{
	color: #FFCCCC;
	position:absolute;
	top: 66%;
	text-align: center;
}
