#content
{
	font-family: "Small Bit";
	position: relative;
	text-align: center;
}

.header
{
	visibility:hidden;
}

#elissa-wolf
{
	visibility:hidden;
}

#elissa-wolf-title
{
	color: #00CCCC;
	border: 5px double #FFCCCC;
	padding: 15px;
	position: absolute;
	top: 15%;
	right: 15.5%;
	width: 500px;
	font-family: "8 Bit";
	font-size: 2em;
	text-align: center;
}

#press-space
{
	color: #FFCCCC;
	position:absolute;
	top: 66%;
	right: 34%;
	text-align: center;
	font-size: 1.25em;
}
