#content
{
	font-family: "Small Bit";
	position: relative;
	text-align: center;
	text-decoration: blink;
}

#elissa-wolf-title
{
	color: #00CCCC;
	border: 5pc double #FFCCCC;
	position: absolute;
	top: 33%;
	height: 10em;
	margin-top: -5em;
	font-family: "8 Bit";
}

#press-space
{
	color: #FFCCCC;
	position:absolute;
	top: 66%;
	height: 10em;
	margin-top: -5em;
}
