{% extends "layout.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bio.css') }}" />
{% endblock %}


{% block content %}
<h1 id="bio-header">
Character Profile
</h1>
<div id="character">
	<div id="bit-self">
		<img src="{{ url_for('static', filename='8bitself.png') }}">
	</div>
	<div id="hearts">
		<img src="{{ url_for('static', filename='hearts.png') }}">
	</div>
</div>
<div id="bio">
<p class="bio-info">NAME:  Elissa Wolf</p>
<p class="bio-info">SCHOOL:  University of Pennsylvania, School of Engineering and Applied Science</p>
<p class="bio-info">DEGREE:  BSE, Computer and Information Science Dept.</p>
<p class="bio-info">MAJORS:  Digital Media Design, Cognitive Science</p>
<br>
<!--<div id="github" style="margin-left: 20px;">
	<a href="https://github.com/elissawolf92/">Github</a>
</div>
<div id="hackerleague" style="margin-left: 20px;">
	<a href="https://www.hackerleague.org/users/welissa">HackerLeague</a>
</div> -->
<p class="bio-info">Elissa is native to the distant, exotic land of Cleveland.  Armed only with a simple wooden paintbrush, she left her quaint village to learn the ways of the Keyboard.  She believed she could forge the two to create the ultimate weapon: a tool to apply creativity and compassion to the world with enough power to leave meaningful impact. </p>
<br>
<p class="bio-info" color="#E4E4E2">Use the arrow keys to navigate. </p>
<!--<br>
<p class="bio-info">Welcome!  This site is currently under construction, but feel free to click
around, and navigate between menus with the arrow keys. :) </p> -->

</div>
{% endblock %}
