{% extends "layout.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bio.css') }}" />
{% endblock %}


{% block content %}
<h1 id="bio-header">
Character Profile
</h1>
<div id="character">
	<div id="bit-self">
		<img src="{{ url_for('static', filename='8bitself.png') }}">
	</div>
	<div id="hearts">
		<img src="{{ url_for('static', filename='hearts.png') }}">
	</div>
</div>
<div id="bio">
<p class="bio-info">NAME:  Elissa Wolf</p>
<p class="bio-info">SCHOOL:  University of Pennsylvania, School of Engineering and Applied Science</p>
<p class="bio-info">DEGREE:  BSE, Computer and Information Science Dept.</p>
<p class="bio-info">MAJORS:  Digital Media Design, Cognitive Science</p>
<br>
<!--<div id="github" style="margin-left: 20px;">
	<a href="https://github.com/elissawolf92/">Github</a>
</div>
<div id="hackerleague" style="margin-left: 20px;">
	<a href="https://www.hackerleague.org/users/welissa">HackerLeague</a>
</div> -->
<p class="bio-info">Elissa is native to the distant, exotic land of Cleveland.  Taken with the need to explore and create, she began her journey, armed with keyboard in one hand, paintbrush in the other.  </p>
<!--<br>
<p class="bio-info">Welcome!  This site is currently under construction, but feel free to click
around, and navigate between menus with the arrow keys. :) </p> -->

</div>
{% endblock %}
