<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" href="jquery.js"></script>
    </head>
    <body>
        <div id="header">
            <ul id="navigation">
                <li><a href="#bio"></a></li>
                <li><a href="#portfolio"></a></li>
                <li><a href="#skills"></a></li>
            </ul>
        </div>
        <div id="bio" class="container">
            <h2>Character Profile</h2>
        </div>
        <div id="portfolio" class="container">
            <h2>Inventory</h2>
        </div>
        <div id="skills" class="container">
            <h2>Skills</h2>
        </div>
    </body>
</html>
