<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}" />
        <script src="{{ url_for('static', filename='keypress.js') }}"></script>
        {% block extracss %} {% endblock %}
    </head>
    <body>
       {% block header %}
       <h1 id="elissa-wolf">Elissa Wolf</h1>
       <div id="header" class="header">
            <ul id="navigation">
                <li><a href="/bio">Bio</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/skills">Skills</a></li>
            </ul>
        </div>
        {% endblock %}
        <div id="content" class="container">
        {% block content %} {% endblock %}    
        </div>
    </body>
</html>
