{% extends "layout.html" %}

<style type="text/css">
body{
    overflow:hidden;
}

#flipbook{
    width:506px;
    height:300px;
}

#flipbook .page{
    width:506px;
    height:300px;
    background-size:100% 100%;
}

</style>

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio.css') }}" />
{% endblock %}

{% block content %}
<h1 id="inventory-header"> Inventory </h1>
<div id="portfolio-header" class="header">
    <ul id="mediums">
        <li><a href="/portfolio/drawing">Drawing</a></li>
        <li><a href="/portfolio/painting">Painting</a></li>
        <li><a href="/portfolio/modeling">3D Modeling</a><li>
        <!-- <li><a href="/portfolio/lloyd">A Visual Journey</a><li> -->
    </ul>
</div>

<div id="portfolio-content">

{% if selected == 'lloyd' %}
    <div id="flipbook">

    {% for page in pieces %}
    <div> 
        <img src = {{page}}></img>
    </div>

    {% endfor %}

    </div>

    <script type="text/javascript">

        $("#flipbook").turn({
            height:300,
            width:506,
            display: 'double',
            autoCenter: true
        });

        $(window).bind('keydown', function(e){
        
        if (e.keyCode==38)
            $('#magazine').turn('previous');
        else if (e.keyCode==40)
            $('#magazine').turn('next');
            
    });

    </script>

{% else %}

    {% for thumb in pieces.keys()  %}

	   <div id={{thumb}} class="thumbnail">
    	   <a href= {{ pieces[thumb] }}>
        	   <img src = {{thumb}}></img>
    	   </a>
	   </div>

    {% else %}
	   <p>Coming soon!</p>
    {% endfor %}

{% endif %}

</div>

{% endblock %}
