{% extends "layout.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio.css') }}" />
{% endblock %}

{% block content %}
<h1 id="inventory-header"> Inventory </h1>
<div id="portfolio-header" class="header">
    <ul id="mediums">
        <li><a href="/portfolio/drawing">Drawing</a></li>
        <li><a href="/portfolio/painting">Painting</a></li>
        <li><a href="/portfolio/modeling">3D Modeling</a><li>
    </ul>
</div>

<div id="portfolio-content">
{% block portfolio_content %}

{% for thumb in pieces.keys()  %}

<div id={{thumb}} class="thumbnail">
    <a href= {{ pieces[thumb] }}>
        <img src = {{thumb}}></img>
    </a>
</div>

{% else %}
<p>Coming soon!</p>
{% endfor %}

{% endblock %}
</div>

{% endblock %}
