{% extends "layout.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio.css') }}" />
{% endblock %}

{% block content %}
//Portfolio
<div id="portfolio-header">
    <ul id="mediums">
        <li><a href="/drawing">Drawing</a></li>
        <li><a href="/painting">Painting</a></li>
        <li><a href="/modeling">3D Modeling</a><li>
    </ul>
</div>

<div id="portfolio-content">
{% block portfolio_content %}
{% endblock %}
</div>

{% endblock %}
