{% extends "layout.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skills.css') }}" />
{% endblock %}

{% block content %}
<h1 id="skills-header">Skills</h1>
<div id="languages-column" class="column">
	<h2>Languages</h2>
	<p>Java</p>
	<p>Python</p>
	<p>C++</p>
	<p>Javascript</p>
</div>
<div id="software-column" class="column">
	<h2>Software/Technologies</h2>
	<p>Photoshop</p>
	<p>Illustrator</p>
	<p>Maya</p>
	<p>Git</p>
	<p>Eclipse</p>
</div>
{% endblock %}
