{% extends "layout.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skills.css') }}" />
{% endblock %}

{% block header %}
<div id="header" class="header"> {{ page }} </div>
{% endblock %}

{% block content %}
<table id="languages-table" class="languages-table">
	<tr id="languages-header" class="table-header">
		<th colspan="2">Languages</th>
	<tr>
	<tr id="python" class="languages-table-row">
                <td class="data-label">Python</td>
                <td class="bar"><img src="{{ url_for('static', filename='bar5.png') }}"></td>
        </tr>
	<tr id="java" class="languages-table-row">
		<td class="data-label">Java</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar2.png') }}"></td>
	<tr>
	<tr id="c++" class="languages-table-row">
		<td class="data-label">C++</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar4.png') }}"></td>
	</tr>
	<tr id="javascript" class="languages-table-row">
		<td class="data-label">Javascript</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar1.png') }}"></td>
	</tr>
	<tr id="c" class="languages-table-row">
		<td class="data-label">Haskell</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar2.png') }}"></td>
	</tr>
	<tr id="html-css" class="languages-table-row">
		<td class="data-label">HTML/CSS</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar2.png') }}"></td>
	</tr>
</table>
<table id="tech-table" class="tech-table">
	<tr id= "languages-header" class="table-header">
		<th colspan="2">Technologies</th>
	</tr>
	<tr id="illustrator" class="tech-table-row">
		<td class="data-label">Illustrator</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar3.png') }}"></td>
	</tr>
	<tr id="photoshop" class="tech-table-row">
		<td class="data-label">Photoshop</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar2.png') }}"></td>
	</tr>
	<tr id="indesign" class="tech-table-row">
		<td class="data-label">InDesign</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar2.png') }}"></td>
	</tr>
	<tr id="maya" class="tech-table-row">
		<td class="data-label">Maya</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar4.png') }}"></td>
	</tr>
	<tr id="eclipse" class="tech-table-row">
		<td class="data-label">Eclipse</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar4.png') }}"></td>
	</tr>
	<tr id="git" class="tech-table-row">
		<td class="data-label">Git</td>
		<td class="bar"><img src="{{ url_for('static', filename='bar4.png') }}"></td>
	</tr>
</table>
<div id="resume-link">
	<a href="/resume" style="color: #FFCC99;">FULL RESUME</a>
</div>
{% endblock %}
